&i2c1 {
    mpu9250@68 {
        compatible = "invensense,mpu9250";
        reg = <0x68>;
		status = "okay";
		irq-gpios = <&gpiob 1 GPIO_ACTIVE_HIGH>;
        gyro-sr-div = <0>;
        gyro-dlpf = <250>;
        gyro-fs = <250>;
        accel-fs = <2>;
        accel-dlpf = "99";
    };
};

/ {
    leds {
        compatible = "gpio-leds";
        run_led: led_pd1 {
            gpios = <&gpiob 3 GPIO_ACTIVE_HIGH>;
            label = "Run LED";
        };
        err_led: led_pd0 {
            gpios = <&gpiob 4 GPIO_ACTIVE_HIGH>;
            label = "Error LED";
        };
    };
};